@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

/* Desktop */
* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(to bottom right, grey, #6f0610, indigo,blue, black);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
  }
  
  .slide {
    height: 80vh;
    width: 12vw;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 1000ms ease-in-out;
  }
  
  .slide h3 {
    position:absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .slide.active {
    flex: 10;
  }
  
  .slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
}


